apache-airflow[postgres,redis,celery]==2.10.5
psycopg2-binary
pandas
numpy
apache-airflow-providers-amazon
apache-airflow-providers-http
apache-airflow-providers-docker
apache-airflow-providers-slack
apache-airflow-providers-postgres
airflow-providers-clickhouse
requests
pyspark